* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #111;
  color: #fff;
}

/* NAV */
.header {
  background: url(https://www.gruppolercari.com/wp-content/uploads/2017/01/Immagine2.jpg) center/cover;
  min-height: 100vh;
}
.header {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.header * {
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: rgba(0,0,0,0.7);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* FOTO DE PERFIL */
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  margin-bottom: 20px;
}
/* HERO */
.hero {
  text-align: center;
  margin-top: 180px;
}

.hero h1 {
  font-size: 60px;
}

.hero p {
  font-size: 18px;
  margin: 15px 0;
}

.hero button {
  padding: 12px 30px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
/* FOTO DE PERFIL */
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  margin-bottom: 20px;
}
/* SECTIONS */
.section {
  padding: 80px 10%;
}

.dark {
  background: #111;
  text-align: justify;
}

.light {
  background: #f5f5f5;
  color: #111;
  text-align: justify;
}

/* CARDS */
.card {
  margin-top: 30px;
}

.card span {
  font-size: 14px;
  opacity: 0.8;
}

/* SKILLS */
.skills span {
  display: inline-block;
  border: 1px solid currentColor;
  padding: 10px 18px;
  margin: 8px;
  font-size: 14px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
}